
other_data_links.txt
*.DS_Store
data/.DS_Store
*.pth
prototypes/.ipynb_checkpoints/Experiment with Various Models-checkpoint.ipynb
prototypes/.ipynb_checkpoints/Data-Wrangling-checkpoint.ipynb
__pycache__/processData.cpython-38.pyc
.DS_Store
.DS_Store
.DS_Store
prototypes/.ipynb_checkpoints/DL Prototype-checkpoint.ipynb
prototypes/.ipynb_checkpoints/Scaled DL Prototype-checkpoint.ipynb
